# 점프투파이썬 2장 이어서
## 3절 리스트

In [1]:
print("안녕하세요.")

안녕하세요.

In [2]:
print(123)

123

### 리스트 만들기

In [3]:
# 빈 리스트
a=[]
a

[]

In [4]:
b=[1,2,3]
b

[1, 2, 3]

In [5]:
c=["life", "is", "too", "short"]
c

['life', 'is', 'too', 'short']

In [6]:
d=[1,2,"life","is"]
d

[1, 2, 'life', 'is']

In [7]:
e=[1,2,["life","is"]]
e

[1, 2, ['life', 'is']]

### 리스트의 인덱싱

In [ ]:
[0,5] # 공간 상 첫째부터 다섯번째까지

In [8]:
a=[1,2,3]
a

[1, 2, 3]

In [9]:
a[1] #2에 접근하려면

2

In [17]:
a=[1,2,3]
a[-1]

3

In [13]:
e

[1, 2, ['life', 'is']]

In [30]:
e[2][0] #life에 접근하려면

'life'

### 리스트의 슬라이싱

In [18]:
a=[1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [20]:
b=a[0:2]
b

[1, 2]

In [22]:
b=a[:2]
b

[1, 2]

### 리스트 연산자

In [23]:
print(a,b)

[1, 2, 3, 4, 5] [1, 2]

In [25]:
c=a+b
c

[1, 2, 3, 4, 5, 1, 2]

In [26]:
c*2

[1, 2, 3, 4, 5, 1, 2, 1, 2, 3, 4, 5, 1, 2]

### 리스트의 수정, 변경, 삭제

In [27]:
# 하나의 값 수정하기
a=[1,2,3]

In [29]:
a[2]=4
a

[1, 2, 4]

In [34]:
# 연속된 범위값 수정
a=[1,2,3]
a[2:3]

[3]

In [32]:
# 
a[2:3]=['a','b','c'] #슬라이싱을 잡고하면 그 안에 위치
a

[1, 'a', 'b', 'c', 4]

In [37]:
# 중첩하여 수정
a[2]=['a','b','c'] #인덱싱을 잡고하면 그 공간 안에 또다른 리스트를 중첩시킨다
a

[1, 2, ['a', 'b', 'c']]

In [38]:
# 리스트 요소 삭제
a=[1,2,3]
del a[2]
a

[1, 2]

In [40]:
a=[1,2,3,4]
del a[1:3]
a

[1, 4]

### 리스트 함수

In [42]:
# 리스트에 요소 추가
a=[1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [43]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [45]:
# 리스트 정렬
a=[1,3,5,2,4]
a.sort()
a

[1, 2, 3, 4, 5]

In [46]:
# 리스트 뒤집기
a=[1,3,5,2,4]
a.reverse()
a

[4, 2, 5, 3, 1]

In [47]:
# 위치 반환
a=[1,2,3]
# 3의 위치는?
a.index(3)

2

In [49]:
# 리스트에 요소 삽입
a=[1,2,3]
a.insert(0,4) # 앞에 있는 위치에 뒤에 있는 값을 넣는다
a

[4, 1, 2, 3]

In [50]:
a.insert(4,5)
a

[4, 1, 2, 3, 5]

In [51]:
# 리스트 요소 제거
a=[1,2,3,1,2,3]
a.remove(3) # 맨 앞에 있는 요소 제거
a

[1, 2, 1, 2, 3]

In [52]:
# 리스트 요소 꺼내기(요소를 꺼내고 꺼낸 요소는 삭제)
a=[1,2,3]
a.pop()

3

In [53]:
a

[1, 2]

In [54]:
# 요소 개수 세기
a=[1,2,3,1]
a.count(1)

2

In [61]:
# 리스트 확장
a= [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [57]:
a.append([5,6])
a

[1, 2, 3, [5, 6]]

## 4절 튜플

In [63]:
t1=()
t2=(1,)
t3=(1,2,3)
t4=('a','b')
print(t1,t2,t3,t4)

() (1,) (1, 2, 3) ('a', 'b')

튜플은 수정, 삭제가 불가하다

## 5절 딕셔너리

In [64]:
dic = {'name' : 'miyoung', 'phone' : '01234567890'}
print(dic)

{'name': 'miyoung', 'phone': '01234567890'}

In [66]:
# 조회하기
dic['name']

'miyoung'

In [67]:
dic ={'name' : 'miyoung', 'name' : '홍길동'}
dic['name'] # 같은 key가 여러개 았으면 임의로 불러옴. 따라서 key는 하나만

'홍길동'

In [69]:
# 키가 뭐뭐 있나?
dic.keys()

dict_keys(['name'])

In [71]:
dic.values()

dict_values(['홍길동'])

## 7절 불 자료형(bool)

In [72]:
# 표시형식
# T / F
# True / False
3 > 1

True

In [74]:
1 > 3

False

In [76]:
if []:
    print("참")
else:
    print("거짓")

거짓

In [77]:
if "나미영":
    print("참")
else:
    print("거짓")

참

## 3장 제어문
### 1. if문

In [82]:
money =1 # 돈이 있다.
if money:
    print("택시 타자.")
else:
    print("걸어 가야해ㅠㅡㅠ")

택시 타자.

In [83]:
money =0 # 돈이 없다.
if money:
    print("택시 타자.")
else:
    print("걸어 가야해ㅠㅡㅠ")

걸어 가야해ㅠㅡㅠ

In [ ]:
# 기본구조
if 조건문:
    수행 문장1
    수행 문장2
else:
    수행 문장A
    수행 문장B
# tab 1번 또는 spacebar 4번

In [85]:
money=2000 # 내 돈
if money >= 3000:
    print("택시 타자!!")
else:
    print("걸어 가야해ㅠㅡㅠ")

걸어 가야해ㅠㅡㅠ

In [86]:
money = 2000 # 내 돈
card = 1 # 카드가 있다
if money >= 3000 or card:
    print("택시 타자!!")
else:
    print("걸어 가야해ㅠㅡㅠ")

택시 타자!!

In [88]:
# 조건문 중첩
pocket = ['paper', 'handphone', 'card']
if 'money' in pocket:
    print("택시 타자!")
else:
    if card:
        print("택시 타자!")
    else:
        print("걸어 가자!")

택시 타자!

In [90]:
# 여러 개의 조건 : elif를 사용
if 'money' in pocket:
    print("택시")
elif 'card' in pocket:
    print("택시")
else:
    print("걷기")

택시

In [ ]:
# 구문
if <조건문>:
    수행문장1
    수행문장2
elif <조건문>:
    수행문장1
elif <조건문>:
    수행문장1
elif <조건문>:
    수행문장1
else:
    수행문장1